<div class="jumbotron jumbotron_fluid show_message_div" href=<%= message_path(message.message_id)%>>
	
	<div> <h2><%= message.subject %></h2> </div>
	<h6><%= message.contact_email %></h6>
	<small><em><%= message.message_time %></em></small>
	<small> <%= message.labels %></small>
	<p> <%= message.snippet %> </p>

</div>