<% provide(:title, "Change Password") %>

<h1>Change Password</h1>

<%= form_with scope: :users, url: users_path, local: true, class: 'form-group' do |form| %>
  
  <%= form.password_field :current_password, class: 'form-control', placeholder: "Password",  required: 'true' %>
  <%= form.password_field :new_password, class: 'form-control', placeholder: "Password",  required: 'true' %>
  <%= form.password_field :new_password_confirmation, class: 'form-control', placeholder: "Confirm Password",  required: 'true' %>

  
  <%= form.submit 'Save', class: "btn btn-primary" %>
<% end %>
